{# templates/home.html.twig #}

{# Template de la page d'accueil de l'application #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}

<div class="align-content-center text-center"><h1>Welcome</h1>

<p>{{ welcome }}</p></div>

{% endblock %} {# main #}
{% block footer %}<a class="modal-footer" href="{{ path('front') }}">Accueil</a>{% endblock %}


