{# templates/home.html.twig #}

{# Template de la page d'accueil de l'application #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}
{% block header %}{% endblock %}

{% block main %}
    <div class="container-fluid ct-landing">
        <a class="text-left text-info" href="{{ path('back') }}">Accès administrateur</a>
        <div class="text-center pagination-lg">
            <h1>Welcome</h1>
            <p>{{ welcome }}</p> <br>
            <a class='btn btn-outline-primary btn-lg' href="{{ path('front') }}">Accueil</a>
        </div><br><br><br><br><br><br><br><br>
    </div>
{% endblock %} {# main #}
{% block footer %}{% endblock %}


