<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/all.css') }}">
<title>AgVoy</title>
<div class="container-fluid ct-landing">
    <div class="row align-items-center text-center pagination-lg h-100 ">
        <div class="col align-items-center">
            <h1>Welcome</h1>
            <p>{{ welcome }}</p> <br>
            <a class='btn btn-outline-primary btn-lg' href="{{ path('front') }}">Accueil</a>
        </div>
    </div>
</div>