{% extends 'base.html.twig' %}

{% block title %}Ajouter Etape{% endblock %}

{% block main %}
    <h1>Ajoutez une étape à {{ circuit.description }}</h1>
    <p></p>
    {{ include('back/etape/_form.html.twig') }}

    <a class=" btn btn-outline-primary" href="{{ path('admin_etape_index') }}"><i class="fa fa-caret-left"></i> Retour à la liste</a>
    <a href="{{ path('admin_circuit_index') }}">back to list</a>

{% endblock %}