{% extends 'base.html.twig' %}

{% block title %}Ajouter Etape{% endblock %}

{% block main %}
    <h1>Ajoutez une étape à {{ circuit.description }}</h1>
    <p></p>
    {{ include('back/etape/_form.html.twig') }}

    <a href="{{ path('admin_circuit_index') }}">Retour a la liste des circuits</a>

{% endblock %}