.jumbotron-header {
    padding: 0.5rem 0.5rem;
    color: white;
    background: linear-gradient(rgba(0,56,85,0.3),rgba(255,255,255,1)), url("../img/road.jpg") no-repeat center;
    background-size: cover;

}

.bg-custom{
    background-color: #0002;
}

.ct-landing{
    background-image: url("../img/landing.jpg");
    background-size: cover;
}
/*body{

    background: url("https://usersthink.com/img/99-free-images-large/02-usersthink-stock-image.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}*/
